
@{
    ViewData["Title"] = "Cadastrar";
}

<h2>Cadastrar</h2>

<p>Nome do usuário: @ViewData["nome"]</p>
<p>CPF: 
    @if (ViewBag.cliente != null)
    {
        @ViewBag.cliente.Cpf
    }
</p>
<p>@TempData["msg"]</p>

<form action="/Cliente/Cadastrar" method="post">
    <div class="form-group">
        <label for="id-nome">Nome</label>
        <input type="text" name="nome" id="id-nome" class="form-control" />
    </div>
    <div class="form-group">
        <label for="id-email">E-mail</label>
        <input type="text" name="email" id="id-email" class="form-control" />
    </div>
    <div class="form-group">
        <label for="id-cpf">CPF</label>
        <input type="text" name="cpf" id="id-cpf" class="form-control" />
    </div>
    <div class="form-group">
        <input type="checkbox" name="maior" id="id-maior" />
        <label for="id-maior">Maior de Idade</label>
    </div>
    <input type="submit" class="btn btn-primary" value="Cadastrar" />
</form>
