@model  IList<Cela>

@{
    ViewData["Title"] = "Listar";
}

<h2>Celas</h2>

<table class="table">
    <tr>
        <th>Nome</th>
        <th>Área</th>
        <th>Quantidade Máxima</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nome</td>
            <td>@item.Area</td>
            <td>@item.QuantidadeMaxima</td>
            <td>
                <a asp-action="detalhar" 
                   asp-route-codigo="@item.CelaId" class="btn btn-primary">
                    Detalhes
                </a>
            </td>
        </tr>
    }
</table>

